$primary-orange: hsl(30, 100%, 60%);
$primary-grey: hsl(0, 0%, 54%);
$greyish: hsl(228, 17%, 54%);
$greyish-white: hsl(0, 5%, 95%);
$bg-primary: hsl(211, 100%, 50%);
$bg-success: hsl(134, 61%, 41%);
$bg-danger: hsl(354, 70%, 54%);
$bg-info: hsl(188, 78%, 41%);
