@use '../abstracts/colors';

.terminal__btn {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  color: colors.$greyish-white;
  background-color: transparent;

  &::after {
    content: '';
    background-color: colors.$bg-info;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  &__text {
    transition: transform 0.8s;
  }

  &:hover &__text,
  &:focus &__text {
    transform: translateX(10px);
  }
}
