.terminal__queue {
  display: grid;
  grid-template-columns: repeat(5, minmax(75px, 150px));
  gap: 2rem;
  @media only screen and (max-width: 768px) {
    & {
      grid-template-columns: repeat(3, minmax(75px, 100px));
    }
  }
}
